<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset = 'utf-8'>
        <meta name = 'viewport' content = 'width=device-width, initial-scale=1'>

        <!-- Bootstrap JQuery-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav id = "bar" class='navbar navbar-expand-lg bg-light'>
            <div class = 'container-fluid'>
                <div class = 'navbar-header'>
                    <a class = 'navbar-item' style='display: inline-block;'>
                        <span class = 'nav-link' id = 'back' style='cursor: pointer; padding-left: 0; margin-left: -20px; margin-right: 20px;'>&laquo; Back</span>
                    </a>
                    <a class = 'navbar-brand'>
                        <span class = 'nav-link' id = 'time-now' style='padding-left: 0;'></span>
                        <a id = 'icon' href = '#' class ='nav-brand'><img class="d-inline-block align-top" id = 'img' src="/static/collegememes-lede.svg"></a></li>
                    </a>
                    <!-- <li class = 'nav-item'><a id = 'back' class='nav-link'>Back</a></li> -->
                </div>
                <ul id = 'nav-container' class = 'navbar-nav'>
                    <li class = 'nav-item'><a id = 'login' href = " {{url_for('login.index')}}" class='nav-link'>Login</a></li>
                    <li class = 'nav-item'><a id = 'forum' href = " {{url_for('forum.forum')}} " class='nav-link' style='display: none;'>Forum</a></li>
                    <li class = 'nav-item'><a id = 'signup' href = "#" class='nav-link'>Signup</a></li>
                    <li class = 'nav-item'><a id = 'session' href = "{{url_for('tasks.board')}}" class='nav-link'>Study Session</a></li>
                    <li class = 'nav-item'><a id = 'create' href = "{{url_for('tasks.create')}}" class='nav-link'>Create</a></li>
                </ul>
            </nav>
            </div>
        <br>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class='container'>
                    {% for message in get_flashed_messages() %}
                        <div class="alert alert-warning alert-dismissible fade show" role = 'alert'>
                        {{ message }}
                        <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
                            &times;
                        </button>
                        </div>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    {% block main %}
    {% endblock main %}
    </body>
    <script>
$("#create").hide();
$('#forum').hide();
$('#back').hide();
$("#signup").hide();
var p = window.location.pathname;   
$(document).ready(function(){
    if (p.indexOf("board") > 0){
        $("#create").show();
    }
    if (p.indexOf("schedule") == -1){
        $("#session").hide();
    }
    if (p.indexOf("login") > 0 || (p.length === 0 || p === "/" || p.match(/^\/?index/)) ){
        $("#signup").show();
    }
    if (window.location.href.indexOf('/course/') > 0) $('#forum').show();
    if (window.location.href.length > 22) $('#back').show();
    $('#back').click(() => {
        window.history.back();
    })
})
$('#time-now').html(new Date().toLocaleTimeString('en-US',{
    hour12:true,
    hour:"numeric",
    minute:"numeric",
}));
    </script>

    <style>
        .nav-item, .nav-link{
            color: rgb(126, 123, 123);
        }

        .nav-item:hover, .nav-link:hover{
            cursor: pointer;
            color: rgb(126, 123, 123);
            font-weight: bold;
        }
        #img{
            position:absolute;
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            text-align: center;
            margin-top: -2rem;
            padding-top: 2rem;
            width: 10rem;
            height: 6rem;
            /* text-align: center; */
            /* margin-left: 26rem; */
        }
    </style>

</html>
