{% extends "base.html" %}
{% block main %}
    <h2 id = 'title'>CS480: NLP Final Exam Review</h2>
    <div id="information">
        <h4>Description</h4>
        <p>This is a study session for the final exam of CS480: Natural Language Processing. We will be going over class notes and doing practice problems.</p>
        <h4>Date</h4>
        <p>08/29/2021</p>
        <h4>Time</h4>
        <p>6:00PM</p>
        <h4>Study Hours</h4>
        <p>3 hours</p>
        <h4>Study Mates</h4>
        <ul>
            <li>Peter Ze</li>
            <li>Abhishek Shrinivasan</li>
            <li>Shu Gao</li>
        </ul>
        <h4>Zoom Link</h4>
        <p>https://nyu.zoom.us/j/5862294476?</p>
    </div>


<style>
    #title{
        text-align: center;
    }
    #information{
        position: relative;
        margin-left: 5%;
    }

</style>
{% endblock main %}