{% extends "base.html" %}

{% block main %}
<div id="main">
<img id = "photo" src= "/static/collegememes-lede.jpg" class="img-fluid">
<form id="form" action = "{{url_for('login.index')}}" method = "post" style = 'width:400px; margin:0 auto;'> 
    {{form.csrf_token()}}

    <div class="form-group">
    {{form.name(class_="in form-control", id="top",placeholder="  username")}}
    </div>

    <div class="form-group">
    {{form.password(class_="in form-control",id="pass", type="password", placeholder="  password")}}
    </div>

    {{form.submit(class_="btn")}}
</form>
</div>

<script> 
$(document).ready(function(){
    $('#pass').type='password';
});
</script>
<style>
    #main{
        width: 20rem;
        min-height: 5vh;
        margin: 1rem auto 0 ;
    }

    .lab{
        width: 100%;
    }

    #form{
        display: grid;
        place-content: center;
    }
    .btn{
        position: relative;
        margin-left: 4rem;
        margin-bottom: 5rem;
        width: 5rem;
        margin-top: 1rem;
        border: none;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    }

    .btn:hover{
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    }

    .photo{
        border: none;
        width: 700px;
    }

    .in{
        width: 14rem;
        margin-right: 5rem;
        background-color: #eee;
        border:none;
        height: 2.5rem;
    }

    #top{
        margin-top:2.5rem;
    }

</style>
{% endblock main %}
